/* #box1{
    height:100px;
    width:100px;
    background-color: rgb(8, 91, 63);
    margin: 200px;
    font-size: 100px;
}
#box2{
    height:50px;
    width:30%;
    background-color: rgb(193, 188, 49); 
    margin: 20%;  
    font-size: 1em;
    width: 5rem;
    height:10vw;
} */
 /* div{
    height:100px;
    width:100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;

 }
 #box1{
    position:relative;
     top: 100px;
 }
 #box2{
    position:relative;
    top:100px;
    }
    #box3{
        position: relative;
        bottom:100px;
    }
    #box4{
        position:relative;
        bottom:200px;
        left:30px;
    } */
    body{
        background-image: url("cat@photo.com.jpg");
        background-size:cover;
     }
     div{
        height: 100px;
        width:100px;
        display: inline-block;
        border: 2px solid black;
     }
    div{
        background-image: url(cat_photo.com.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
