div{
    height:200px ;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left:100px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 2s; */
    /* transition: all 2s ease-in; */
    /* transform:rotate(90deg); */
    /* rotate:z 90deg; */
    /* animation-name: coloranimate;
    animation-duration: 0.25s;
    /* animation-timing-function: ease-in; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal; */
    animation: coloranimate 2s ease-in 0s infinite normal;
}
/* @media(max-width:600px) {
    div{
        background-color: blue;
    }
    
} */
 
 /* @media(min-width:400px)and(max-width:100px){
    div{
        background-color: black;
    } */
 @keyframes coloranimate{
    10%{left:0px;
    background-color: aqua;}
    70%{left:20px;
    background-color: brown;}
 }