h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
    text-shadow: 10px;
}
div{
    height: 100px;
    width:100px;
    background-image: url(nature.com.jpg);
    background-size:cover;
    position:fixed;
    color:rgb(23, 11, 11);
    right: 0px;
    top:250px;
    display:flex;
    
}
