 *{
    padding: 0px;
    margin: 0px;
    
}
#navbar{
    height:60px;
    background-color: #0f1111;
}
#logo{
    color: rgb(243, 122, 0);
    font-size: 25px;
}
a{
    color:white;
    margin-right:150px;
    text-decoration: none;
}
#navbar{
    border: 5px solid yellow;
}
button{
    background-color: rgb(255, 187, 0);
    color: white;
}
.a{
    padding:100px;
    margin-top:500px;

 } 
.contentbox{
    height: 100px;
    width:200px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 526px;
}
footer{
    background-color:#0f1111;
    color:white;
    text-align: center;

}
