div{
    height: 200px;
    width:200px;
    background-color: blue;
}
@media(max-width:300px){
    div{
        background-color: green;
    }
}
@media(min-width:300px) and (max-width:400px) {
    div{
        background-color: aquamarine;
    }
}
@media(min-width: 400px) and (max-width:600px) {
    div{
        background-color: brown;
    }
}
@media(min-width: 600px){
    div{
        background-color: black;
    }
}