*{
    color: rgb(213, 95, 150);
    background-color: rgb(62, 59, 59);
}
button{
    color: brown;
    background-color: yellowgreen;
}
#hello{
    color:yellowgreen;
    text-align: center;
}
#b{
text-decoration: underline;
color:aqua;
}
#beauty{
    font-weight: bold;
    font-size:normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
    line-height: 50px;
}


