.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
div{
    height: 150px;
    width: 200px;
    background-color: blueviolet;
    align-items: center;
    border: 2px solid black;
}
h1{
   padding-left: 50px;
   background-color: aquamarine;
}
#para{
    background-color: aqua;
    padding-left: 10px;
}

.grey{
    background-color: grey;
    color: blue;
}
.yellow{
    background-color: yellowgreen;
    color: black;
}